#myImage{
    position: relative;
    margin-top: 50px;
    // width: 500px;
    // height: 300px;
}
img {
    position: absolute;
    // width: 500px;
    // height: 300px;
    // left: 0;
  }
  #myImage:hover .button {
    opacity: 1;
  }
  #myImage .button {
    // position: absolute;
    // width: 500px;
    left:0;
    top: 180px;
    text-align: center;
    opacity: 0;
    transition: opacity .35s ease;
    margin-top: 2%;
  }
  