<!-- <div class="container-fluid">
    <div class="row" >
        <div class="col-md-4 mt-1 float-left">
           <app-sidebar></app-sidebar>
          
        </div>
        <div class="col-md-8 float-right " >
                container here...........
        </div>
    </div>
</div> -->

<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
      <div
        class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100"
      >
        <a
          href="/"
          class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        >
          <span class="fs-5 d-none d-sm-inline">Dashboard</span>
        </a>
        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start"
          id="menu"
        >
          <li class="nav-item">
            <!--routerLink="/admin/user-list"-->
            <a class="nav-link align-middle px-0" (click)="onUserList()">
              <i class="fs-4 bi-house"></i>
              <span class="ms-1 d-none d-sm-inline">User List</span>
            </a>
          </li>
          <li>
            <!--routerLink="/admin/add-product"-->
            <a class="nav-link px-0 align-middle" (click)="onAddProdcut()">
              <i class="fs-4 bi-table"></i>
              <span class="ms-1 d-none d-sm-inline">Add New Product</span></a
            >
          </li>

          <li> <!--(click)="onProductList()"-->
            <a  [routerLink]="['/admin/product-list']" class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline" 
                >Product List</span
              >
            </a>
          </li>

          <li>
            <a class="nav-link px-0 align-middle">
              <i class="fs-4 bi-people"></i>
              <span class="ms-1 d-none d-sm-inline" (click)="onProductEdit()"
                >Product Edit</span
              >
            </a>
          </li>
          <li>
            <button type="button" class="btn btn-danger" (click)="logout()">
              Logout
            </button>
          </li>
        </ul>
        <hr />
      </div>
    </div>
    <div class="col py-3">
      <h1 class="text-center text-info">Welcome To Admin Dashboard</h1>
      <!-- Content area... -->
      <!--User List Component Load Here-->
      <div *ngIf="userList">
        <app-user-list></app-user-list>
      </div>
      <!--Add New Product Component Load Here-->
      <div *ngIf="addProduct">
        <app-product-add></app-product-add>
      </div>
      <!-- Product List Component Load Here-->
      <!-- <div *ngIf="productList">
        <app-product-list></app-product-list>
      </div> -->
       <!-- Product Edit Component Load Here-->
       <div *ngIf="productEdit">
        <app-product-edit></app-product-edit>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
