<div class="card text-center" style="width: 400px; margin-left: 40%; margin-top: 5%;">
    <div class="card-header h5 text-white bg-primary">Change Password </div>
    <ng-container *ngIf="errorMessage.length>0">
        <div class="alert alert-danger text-center"> {{errorMessage}} </div>
    </ng-container>
    <div class="card-body px-5">
        
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit();"> 
            <div class="form-outline">
                <label class="form-label" for="currentPassword"> Enter Current Password</label>
                <input type="password" id="currentPassword" class="form-control my-3"  placeholder="Enter currentPassword " formControlName="currentPassword"/>
                <div *ngIf="validateFiled['currentPassword'].touched && validateFiled['currentPassword'].invalid" class="error">
                    <div *ngIf="validateFiled['currentPassword'].errors && validateFiled['currentPassword'].errors['required']"> currentPassword is required.</div>
                    <div *ngIf="validateFiled['currentPassword'].errors && validateFiled['currentPassword'].errors['minlength']"> min 8 character. required...</div>
                    <div *ngIf="validateFiled['currentPassword'].errors && validateFiled['currentPassword'].errors['maxlength']"> max 20 character required....</div>
                    <div *ngIf="validateFiled['currentPassword'].errors && validateFiled['currentPassword'].errors['pattern']">Atleas 1alphabate 1 newmeric 1 special character required..</div>
                </div>
            </div>
        
        <div class="form-outline">
            <label class="form-label" for="newPassword"> Enter New Password</label>
            <input type="password" id="newPassword" class="form-control my-3"  placeholder="Enter newPassword " formControlName="newPassword"/>
            <div *ngIf="validateFiled['newPassword'].touched && validateFiled['newPassword'].invalid" class="error">
                <div *ngIf="validateFiled['newPassword'].errors && validateFiled['newPassword'].errors['required']"> newPassword is required.</div>
                <div *ngIf="validateFiled['newPassword'].errors && validateFiled['newPassword'].errors['minlength']"> min 8 character. required...</div>
                <div *ngIf="validateFiled['newPassword'].errors && validateFiled['newPassword'].errors['maxlength']"> max 20 character required....</div>
                <div *ngIf="validateFiled['newPassword'].errors && validateFiled['newPassword'].errors['pattern']">Atleas 1alphabate 1 newmeric 1 special character required..</div>
            </div>
        </div>
        
        <div class="form-outline">
            <label class="form-label" for="confirmPassword"> Enter Confirm Password</label>
            <input type="password" id="confirmPassword" class="form-control my-3"  placeholder="Enter confirmPassword " formControlName="confirmPassword"/>
            <div *ngIf="validateFiled['confirmPassword'].touched && validateFiled['confirmPassword'].invalid" class="error">
                <div *ngIf="validateFiled['confirmPassword'].errors && validateFiled['confirmPassword'].errors['required']"> confirmPassword is required.</div>
                <div *ngIf="validateFiled['confirmPassword'].errors && validateFiled['confirmPassword'].errors['minlength']"> min 8 character required....</div>
                <div *ngIf="validateFiled['confirmPassword'].errors && validateFiled['confirmPassword'].errors['maxlength']"> max 20 character required....</div>
                <div *ngIf="validateFiled['confirmPassword'].errors && validateFiled['confirmPassword'].errors['pattern']">Atleas 1alphabate 1 newmeric 1 special character required..</div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary w-100">Save Password</button>
        <div class="d-flex justify-content-between mt-4">
            <a class="" routerLink="/login">Login</a>
            <a class="" routerLink="">Register</a>
        </div>
    </form>
    </div>
</div>