.gradient-custom {
   
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
    }
.form-outline{
margin-left: 40px;
}
.buttonn{
    margin-left: 20px;
    margin-bottom: 5px;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }